body {
  font-family: 'Pixelify Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: rgb(248, 225, 241);
  margin: 1.25rem 2rem;
}

header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

h1 {
  font-size: 4rem;
  color: rgb(167, 75, 139);
  margin: 0;
}

button {
  background-color: white;
  border: none;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.icon-button {
  padding: 0.2rem 0.2rem;
}

button img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.hidden {
  display: none;
}

.timer-card {
  display: flex;
  background-color: white;
  flex-direction: column;
  gap: 10px;
  padding: 1.25rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  width: 200px;
  height: 190px;
}

.timer-top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer-top-actions button {
  padding: 0.1rem;
}

.top-action-spacer {
  width: 32px;
  height: 32px;
}

.timer-info h2 { 
  margin: 0;
  font-size: 1.5rem; 
  text-align: center;
  color: rgb(49, 46, 48);
}
    
.timer-info p { 
  margin-top: 1rem; 
  margin-bottom: 0;
  font-size: 3rem; 
  text-align: center;
  color: rgb(167, 75, 139);
}

.timer-bottom-actions {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

#timer-list-view {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.add-btn {
  background-color:rgb(248, 225, 241);
  width: 60px;
  height: 60px;
}